
html {
    scroll-behavior:smooth;
}


/* HIDE SCROLLBAR */
body {
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    overflow-y: scroll;
    font-family: monospace;
  }
  
body::-webkit-scrollbar {
    display: none;
}



/* MAIN */
#main{
    margin: 0;
}

/* TOP */
#top{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(img_css/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    background-size: cover;
    color: white;
    filter: grayscale(100%);
}

#menu{
    display: flex;
    top: 0px;
    position: sticky;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    z-index: 2;
}

.menu-item{
    text-transform: uppercase;
    font-size: smaller;
    font-weight: lighter;
    color: #191919;
    text-decoration: none;
}

#menu-item-list{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    font-size: small;
}
#menu-title{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#small-title{
    font-weight: bolder;
    font-size: smaller;
}

#small-title-image{
    font-weight: bolder;
    font-size: smaller;
}

#vd{
    width: 35px;
}

#contact{
    border: 1px solid;
    border-radius: 20px;
    padding: 3px;
    padding-inline: 10px;
}
#contact:hover{
    /* transform: scale(1.03); */
    text-decoration: none;
    cursor: pointer;
}

.menu-item:hover{
    /* text-decoration: underline #191919;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px; */
    cursor: pointer;
    color: #2196F3;
    font-weight: 700;
}

#space{
    display: flex;
    height: 100px;
}

#title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* /* text-align: justify; */
    /* padding: 10px;
    padding-inline: 70px; */
    /* background: rgba(255, 255, 255, 0.045); */
    /* max-width: 350px;  */
    /* border: 1px solid rgba(255,255,255, 0.2); */
    /* webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(2px);
    box-shadow: 1px 2px 3px rgb(43 43 43 / 23%);*/
}

#title{
    display: flex;
    margin: 0;
    font-size: xxx-large;
}

#title-caption{
    display: flex;
    margin: 0;
    justify-content: center;
    font-size: smaller;
    font-weight: lighter;
}


#banner{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CORP */

#page{
    position: relative;
}

#corp{
     margin-inline: 100px;
     margin-top: 50px;
}

#fullimage {
    height: 70%;
    display: none;
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0; 
    margin: auto;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
  }

#imagebackground{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.80);
    z-index: 2;
  }

.read{
    position: absolute;
    bottom: 10px;
    padding-inline: 15px;
    background: rgba(255, 255, 255, 0.500);
    box-shadow: 1px 2px 3px rgb(43 43 43 / 23%);
    border: none;
    font-size: smaller;
    color: #ffffff;
    font-weight: bolder;
}

.read:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}
/* PRESENTATION */

#presentation-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#picture-container{
    display: flex;
    justify-content: center;
}

#intro-image{
    display: flex;
    width: 20%;
    min-width: 200px;
    height: auto;
    margin-bottom: auto;
    padding-right: 20px;
    filter: grayscale(100%);
    transition: all .5s ease-in-out;
    border-radius: 5px;
}

#intro-image:hover {
    filter: grayscale(0);
    transform: scale(1.015);
    cursor: pointer;
    z-index: 1;
}

#description-container{
    display: flex;
    width: 40%;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    padding-block: 20px;
}

#description-text{
    display: flex;
}

#contact-container{
    justify-content: center;
    margin-inline: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 50px;
}

.icon-item{
}

.image-icon{
    width: 50px;
}

/* Main CSS */
.grid-wrapper > div {
	display: flex;
	justify-content: center;
	align-items: center;
    filter: grayscale(100%);
    transition: all .5s ease-in-out;
}
.grid-wrapper > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.grid-wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
}
.grid-wrapper .wide {
	grid-column: span 2;
}
.grid-wrapper .tall {
	grid-row: span 2;
}
.grid-wrapper .big {
	grid-column: span 2;
	grid-row: span 2;
}

.grid-wrapper > div:hover {
    /* filter: grayscale(0); */
    transform: scale(1.015);
    cursor: pointer;
    z-index: 1;
}


/* FOOTER */

#footer{
    display: flex;
    /* position: absolute; */
    margin-bottom: 25px;
    margin-top: 100px;
    gap: 10px;
    bottom: 0;
    width: 100%;
    flex-direction: column;
}

#attributions{
    justify-content: center;
    gap: 100px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    color: #191919;
    margin-top: 50px;
}

.attrib{
    display: flex;
    font-size: smaller;
    font-weight: lighter;
}

.attrib:hover{
    text-decoration: underline #191919;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    cursor: pointer;
}

#haut{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: #191919;
    margin-top: 50px;
}

/* SWITCH */

#switch-span{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: smaller;
    font-weight: lighter;
    margin-block: 10px;
    align-items: flex-end;
}

.switch {
  position: relative;
  display: inline-block;
  width: 31px;
  height: 16px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider::after {
right: 4px;
  }

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 750px){
    #banner{
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}